<footer class="footer">
	<nav> <ul>
		<li><%= link_to "About",   about_path %></li>
		<li><a href="https://www.kildonan.org.au/contact-us/">Contact</a></li>
		<li><a href="https://www.kildonan.org.au/">News</a></li>
	</ul> </nav>
</footer>